body{
    background-color: #f9faf4;
    overflow: scroll;
}
.header{
    background-color: #4a6163;
    padding: 10px 10px;
}
.header h1{
    text-align: center;
    color: #f9faf4;
}
.pic {
    width: 450px;
    height: 489px;
    border: 5px solid #F9a66c;
    object-fit: contain; 
    margin: 20px;
}
#intro {
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    height: 489px;
    float: right;
    margin: 20px 200px 20px 50px;
    border: 5px solid #F9a66c;
    background-color: #F9a66c;
}
h1{
    text-align: center;
}
#selfie {
    margin-left: 200px;
    margin-right: 20px;
}
p{
    font-size: 18px;
}
ol{
    list-style: none;
}
.more-info ol {
    margin: 50px 0;
}
ol.more-info li {
    border: 2px solid #f17a7e;
    width: 200px;
    height: 50px;
    padding-bottom: 140px;
    float: left;
    margin-right: 80px;
}
#family-page {
    margin-left: 186px;
    background: white url('../images/family.png') no-repeat bottom center;
}
#favorites-page {
    background: white url('../images/favorites.png') no-repeat bottom center;
}
#dreams-page {
    background: white url('../images/dreams.png') no-repeat bottom center;
}
#gallery-page {
    background: white url('../images/gallery.png') no-repeat bottom center;
}
#name {
    clear: left;
    padding: 2px;
    margin-left: 300px;
}
.text{
    display: inline-block;
    margin-right: 223px;
}